{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href= '{% static "assets/css/main.css" %}'>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="{%url 'top' %}">Game Shelf</a></h1>
						{% comment %} <nav class="links">
							<ul>
								<li><a href="{% url 'userpage' %}">MyPage</a></li>
								<li><a href="{% url 'tag' %}">Tags</a></li>
								<li><a href="{% url 'newgame' %}">NewGame</a></li>
							</ul>
						</nav> {% endcomment %}
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="{% url 'keyword_search' %}">
										<input type="text" name="keyword" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="{% url 'keyword_search' %}">
									<input type="text" name="keyword" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="{% url 'userpage' %}">
											<h3>MyPage</h3>
											<p>ユーザーページにアクセス</p>
										</a>
									</li>
									<li>
										<a href="{% url 'tag' %}">
											<h3>Tags</h3>
											<p>タグの一覧を表示</p>
										</a>
									</li>
									<li>
										<a href="{% url 'newgame' %}">
											<h3>NewGame</h3>
											<p>新たなゲームを追加</p>
										</a>
									</li>
							</section>

						<!-- Actions -->
							<section>
							{% if user.is_authenticated %}
								<ul class="actions stacked">
									<li><a href="{% url 'logout' %}?next={% url 'top' %}" class="button large fit">Log out</a></li>
								</ul>
							{% else %}
								<ul class="actions stacked">
									<li><a href="{% url 'login' %}" class="button large fit">Log in</a></li>
								</ul>
								<ul class="actions stacked">
									<li><a href="{% url 'createuser' %}" class="button large fit">Create user</a></li>
								</ul>
							{% endif %}
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Diary Post -->
						{% for diary in first_three_diary %}
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="/diary/{{ diary.id }}">{{ diary.diary_title }}</a></h2>
									</div>
									<div class="meta">
										<p class="author">執筆者:{{diary.diary_user.nickname}}<img src="{{ MEDIA_URL }}{{ diary.diary_user.userimage.url }}" alt=""/></p>
									</div>
								</header>
								{%if diary.main_image%}
								<a href="/diary/{{ diary.id }}" class="image featured"><img src="{{ MEDIA_URL }}{{ diary.main_image.diary_image_image.url }}" alt="" style="object-fit: cover; height: 300px;"/></a>
								{% else %}
								<a href="/diary/{{ diary.id }}" class="image featured"><img src='{% static "gameshelf.png" %}' alt="" /></a>
								{%endif	%}
								<p>{{ diary.diary_content|slice:":100" }}......</p>
								<footer>
									<ul class="actions">
										<li><a href="/diary/{{ diary.id }}" class="button large">read more</a></li>
									</ul>
								</footer>
							</article>
							{% endfor %}
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<header>
									<h2>Game shelf</h2>
									<p>We were born in an era of games.</p>
								</header>
							</section>

						<!-- Game Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
									{% for game in first_four_game %}
										<article class="mini-post">
											<header>
												<h3><a href="/game/{{ game.id }}">{{ game.game_title }}</a></h3>
											</header>
											<a href="/game/{{ game.id }}" class="image"><img src="{{ MEDIA_URL }}{{ game.game_image.url }}" alt="" /></a>
										</article>
									{%endfor%}

								</div>
							</section>

						<!-- About -->
							<section class="blurb">
								<h2>About</h2>
								<p>GameShelfはプレイしたゲームの記録を記事として保存するサイトです。<br>自分のプレイ日記として使うも良し、レビュー記事として使うも良し。<br>日記の作成やコメント等でユーザーに経験値が溜まり、一定数溜まるとランクが上がります。<br>用法用量を守って楽しく使いましょう。</p>
								{% comment %} <ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul> {% endcomment %}
							</section>

						<!-- Footer -->
							<section id="footer">
								{% comment %} <ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p> {% endcomment %}
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src='{% static "assets/js/jquery.min.js" %}'></script>
			<script src='{% static "assets/js/browser.min.js" %}'></script>
			<script src='{% static "assets/js/breakpoints.min.js" %}'></script>
			<script src='{% static "assets/js/util.js" %}'></script>
			<script src='{% static "assets/js/main.js" %}'></script>
	</body>
</html>