{% load static %}
<!DOCTYPE HTML>
<html lang="ja">
	<head>
	{% comment %} タイトルブロック部 {% endcomment %}
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href= '{% static "assets/css/main.css" %}'>

    <style>
        .tags-container {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
        }

        .tag-item {
            margin-right: 10px;
        }
    </style>

	</head>

	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="{%url 'top' %}">Game Shelf</a></h1>
						{% comment %} <nav class="links">
							<ul>
								<li><a href="{% url 'userpage' %}">MyPage</a></li>
								<li><a href="{% url 'tag' %}">Tags</a></li>
								<li><a href="{% url 'newgame' %}">NewGame</a></li>
							</ul>
						</nav> {% endcomment %}
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="{% url 'keyword_search' %}">
										<input type="text" name="keyword" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="{% url 'keyword_search' %}">
									<input type="text" name="keyword" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="{% url 'userpage' %}">
											<h3>MyPage</h3>
											<p>ユーザーページにアクセス</p>
										</a>
									</li>
									<li>
										<a href="{% url 'tag' %}">
											<h3>Tags</h3>
											<p>タグの一覧を表示</p>
										</a>
									</li>
									<li>
										<a href="{% url 'newgame' %}">
											<h3>NewGame</h3>
											<p>新たなゲームを追加</p>
										</a>
									</li>
							</section>

						<!-- Actions -->
							<section>
							{% if user.is_authenticated %}
								<ul class="actions stacked">
									<li><a href="{% url 'logout' %}?next={% url 'top' %}" class="button large fit">Log out</a></li>
								</ul>
							{% else %}
								<ul class="actions stacked">
									<li><a href="{% url 'login' %}" class="button large fit">Log in</a></li>
								</ul>
								<ul class="actions stacked">
									<li><a href="{% url 'createuser' %}" class="button large fit">Create user</a></li>
								</ul>
							{% endif %}
							</section>

					</section>

{% if messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
    {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
{% endif %}



{% comment %} ヘッダーブロック {% endcomment %}
    <div>
        {% block header %}
        {% endblock %}
    </div>

{% comment %} コンテンツブロック {% endcomment %}
    <div>
        {% block content %}
        {% endblock %}
    </div>



						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src='{% static "assets/js/jquery.min.js" %}'></script>
			<script src='{% static "assets/js/browser.min.js" %}'></script>
			<script src='{% static "assets/js/breakpoints.min.js" %}'></script>
			<script src='{% static "assets/js/util.js" %}'></script>
			<script src='{% static "assets/js/main.js" %}'></script>
	</body>
</html>