{% extends "top/layout.html" %}
{% load static %}
{% comment %} タイトルブロック部 {% endcomment %}
{% block title %}[GameShelf]AddImage{% endblock %}

{% comment %} ヘッダーブロック部 {% endcomment %}
{% block header %}
{% endblock %}

{% comment %} コンテンツブロック部 {% endcomment %}
{% block content %}

<h1>AddImage</h1>
<form action="{% url 'save_addimagediary' editdiary.id %}" method="post" class="mt-3" enctype="multipart/form-data">
    {% csrf_token %}
    {{ editform.as_p }}
    <button class="btn btn-primary" name="submit_action" value="add_and_stay">画像追加して現在のページに留まる</button>
    <button class="btn btn-primary" name="submit_action" value="add_and_redirect">画像追加して戻る</button>
</form>

<hr>
{% for image in displayimage %}
{% comment %} メインフラグ付与 {% endcomment %}
    <form action="{% url 'set_mainflag' image.id editdiary.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">MAIN画像に設定</button>
    </form>
{% comment %} 画像を表示 {% endcomment %}
    {% if image.diary_image_mainflag %}
        <p>★ MAIN画像 ★</p>
    {%endif%}
    <img src="{{ MEDIA_URL }}{{ image.diary_image_image.url }}" alt="◆◆◆">
    {% if image.diary_image_comment %}
        <p>画像コメント：{{ image.diary_image_comment }}</p>
    {%endif%}

{% comment %} 画像削除ボタン {% endcomment %}
    <form action="{% url 'deleteimagediary' image.id editdiary.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">画像削除</button>
    </form>
    <hr>
{% endfor %}

<h2><a href="/diary/{{ editdiary.id }}">戻る</a></h2>
{% endblock %}

{% comment %} フッターブロック部 {% endcomment %}
{% block footer %}
{% endblock %}