{% extends "top/layout.html" %}
{% load static %}
{% comment %} タイトルブロック部 {% endcomment %}
{% block title %}[GameShelf]{{ displaydiary.diary_title }}{% endblock %}

{% comment %} ヘッダーブロック部 {% endcomment %}
{% block header %}
{% endblock %}

{% comment %} コンテンツブロック部 {% endcomment %}
{% block content %}

<div id="main">
	<article class="post">
		<header>
			<div class="title">
				<h2>{{ displaydiary.diary_title }}</h2>
				<ul class="stats">
					<div class="icon solid fa-star" style="font-weight: bold; color: orange; font-size: 2em;">SCORE : {{ displaydiary.diary_rating }}</div>
				</ul>
				<ul class="tags-container">
                    <p><h3>タグ：</h3>
                    {% for tag in displaydiary.diary_tag.all %}
                        <li class="tag-item">
                        <a href="{% url 'tag_search' tag.id %}"><button>{{ tag }}</button></a>
                        </li>
                    {% endfor %}
                    </p>
			</div>

			<div class="meta">
                <p class="author">
                    <span style="font-weight: bold; font-size: 2em;">
                    執筆者:{{displaydiary.diary_user.nickname}}
                    <img src="{{ MEDIA_URL }}{{ displaydiary.diary_user.userimage.url }}" alt=""/>
                </p></span>
            </div>

        </header>

    {% if displaymainimage.diary_image_image %}
        <img src="{{ MEDIA_URL }}{{ displaymainimage.diary_image_image.url }}" alt="◆◆◆">
    {%endif%}

    <p>{{ displaydiary.diary_content }}</p>

    {% comment %} 日記に紐づいた画像を表示 {% endcomment %}
    {% for image in displayimage %}
        <img src="{{ MEDIA_URL }}{{ image.diary_image_image.url }}" alt="◆◆◆">
            {% if image.diary_image_comment %}
                <p>{{ image.diary_image_comment }}</p>
            {%endif%}
    {% endfor %}
    </article>
</div>

{% comment %} 工事領域 {% endcomment %}
<div style="display: flex; justify-content: flex-end;">
    {% comment %} 編集ボタン {% endcomment %}
    <form action="{% url 'editdiary' displaydiary.id %}" method="post" class="mt-3" style="text-align: right;">
    {% csrf_token %}
    <button class="blue-button">日記編集</button>
    </form>

    {% comment %} 日記への画像の追加 {% endcomment %}
    <form action="{% url 'addimagediary' displaydiary.id %}" method="post" class="mt-3" style="text-align: right;">
    {% csrf_token %}
    <button class="green-button">画像追加</button>
    </form>
</div>
<hr>

{% comment %} ゲーム詳細表示エリア {% endcomment %}
<h3>ゲームタイトル:{{ displaydiary.diary_game.game_title }}</h3>
{% if displaydiary.diary_game.game_image %}
    <a href="{% url 'game' displaydiary.diary_game.id %}" class="image featured"><img src="{{ MEDIA_URL }}{{ displaydiary.diary_game.game_image.url }}" alt="{{ displaydiary.diary_game.game_title }}" style="object-fit: cover; height: 450px;"/></a>
{%endif%}
{% comment %} コメントエリア {% endcomment %}
<form action="{% url 'diary' displaydiary.id %}" method="post" class="mt-3">
    {% csrf_token %}
    <label>コメント:</label>
    {{ commentform.as_p }}
    <button class="green-button">コメント投稿</button>
</form>

<hr>
<p>コメント一覧</p>
{% for comment in displaycomment %}
    <hr>
    <p>{{ comment.diary_comment_comment }}</p>
    <div style="text-align: right;">
        <p>{{comment.diary_comment_user}}</p>
    </div>
{% endfor %}

{% endblock %}

{% comment %} フッターブロック部 {% endcomment %}
{% block footer %}
{% endblock %}