{% extends "top/layout.html" %}
{% load static %}
{% comment %} タイトルブロック部 {% endcomment %}
{% block title %}[GameShelf]{{ displaydiary.diary_title }}{% endblock %}

{% comment %} ヘッダーブロック部 {% endcomment %}
{% block header %}
{% endblock %}

{% comment %} コンテンツブロック部 {% endcomment %}
{% block content %}

<div style="display: flex; justify-content: space-between;">
{% comment %} タイトル {% endcomment %}
    <h1 style="margin: 0;">{{ displaydiary.diary_title }}</h1>

{% comment %} 編集ボタン {% endcomment %}
    <form action="{% url 'editdiary' displaydiary.id %}" method="post" class="mt-3">
        {% csrf_token %}
        <button style="margin: 0;">日記編集</button>
    </form>
</div>

{% comment %} タグ表示 {% endcomment %}
<ul class="tags-container">
<p>タグ：
    {% for tag in displaydiary.diary_tag.all %}
        <li class="tag-item">
        <a href="{% url 'tag_search' tag.id %}"><button>{{ tag }}</button></a>
        </li>
    {% endfor %}</p></ul>



{% comment %} メイン画像表示 {% endcomment %}
{% if displaymainimage.diary_image_image %}
    <img src="{{ MEDIA_URL }}{{ displaymainimage.diary_image_image.url }}" alt="◆◆◆">
{%endif%}

{% comment %} 日記詳細表示エリア {% endcomment %}

<p>スコア：{{ displaydiary.diary_rating }}</p>

<p>本文：{{ displaydiary.diary_content }}</p>

<p>記事作成者:{{ displaydiary.diary_user }}</p>

{% comment %} 日記に紐づいた画像を表示 {% endcomment %}
<hr>
<p>画像</p>
{% for image in displayimage %}
    <img src="{{ MEDIA_URL }}{{ image.diary_image_image.url }}" alt="◆◆◆">
    {% if image.diary_image_comment %}
        <p>{{ image.diary_image_comment }}</p>
    {%endif%}
    <hr>
{% endfor %}

{% comment %} 日記への画像の追加 {% endcomment %}
<form action="{% url 'addimagediary' displaydiary.id %}" method="post" class="mt-3">
    {% csrf_token %}
    <div style="text-align: right;">
    <button>画像追加</button>
    </div>
</form>

<hr>

{% comment %} ゲーム詳細表示エリア {% endcomment %}
<h3>ゲームタイトル:{{ displaydiary.diary_game.game_title }}</h3>
{% comment %} {% if displaydiary.diary_game.game_image %}
<img src="{{ MEDIA_URL }}{{ displaydiary.diary_game.game_image.url }}" alt="{{ displaydiary.diary_game.game_title }}">
{% endif %}
<a href="{% url 'game' displaydiary.diary_game.id %}"><button>ゲーム詳細</button></a> {% endcomment %}
<a href="{% url 'game' displaydiary.diary_game.id %}" class="image featured"><img src="{{ MEDIA_URL }}{{ displaydiary.diary_game.game_image.url }}" alt="{{ displaydiary.diary_game.game_title }}" style="object-fit: cover; height: 300px;"/></a>
<hr>

{% comment %} コメントエリア {% endcomment %}
<form action="{% url 'diary' displaydiary.id %}" method="post" class="mt-3">
    {% csrf_token %}
    <label>コメント:</label>
    {{ commentform.as_p }}
    <button>コメント投稿</button>
</form>

<hr>
<p>コメント一覧</p>
{% for comment in displaycomment %}
    <hr>
    <p>{{ comment.diary_comment_comment }}</p>
    <div style="text-align: right;">
        <p>{{comment.diary_comment_user}}</p>
    </div>
{% endfor %}

{% endblock %}

{% comment %} フッターブロック部 {% endcomment %}
{% block footer %}
{% endblock %}