{% extends "top/layout.html" %}
{% load static %}
{% comment %} タイトルブロック部 {% endcomment %}
{% block title %}[GameShelf]DiaryEdit{% endblock %}

{% comment %} ヘッダーブロック部 {% endcomment %}
{% block header %}
{% endblock %}

{% comment %} コンテンツブロック部 {% endcomment %}
{% block content %}

<h1>Fix Diary</h1>

<form action="{% url 'save_editdiary' editdiary.id %}" method="post" class="mt-3" enctype="multipart/form-data">
    {% csrf_token %}
    {{ editform.as_p }}
    <button>Fix Diary</button>
</form>

<form action="{% url 'deletediary' editdiary.id %}" method="post" class="mt-3">
    {% csrf_token %}
    <div style="text-align: right;">
    <button class="btn btn-danger">日記削除</button>
    </div>
</form>

{% endblock %}

{% comment %} フッターブロック部 {% endcomment %}
{% block footer %}
{% endblock %}