{% extends "top/layout.html" %}
{% load static %}
{% comment %} タイトルブロック部 {% endcomment %}
{% block title %}[GameShelf]CreateUser{% endblock %}

{% comment %} ヘッダーブロック部 {% endcomment %}
{% block header %}
<h1>CreateUser</h1>
{% endblock %}

{% comment %} コンテンツブロック部 {% endcomment %}
{% block content %}
<form method="post" action="{% url 'createuser' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ createform.as_p }}
    <button class="btn btn-primary">アカウント作成</button>
</form>

{% endblock %}

{% comment %} フッターブロック部 {% endcomment %}
{% block footer %}
{% endblock %}