{% extends "top/layout.html" %}
{% load static %}
{% comment %} タイトルブロック部 {% endcomment %}
{% block title %}[GameShelf]{{ editgame.game_title }}{% endblock %}

{% comment %} ヘッダーブロック部 {% endcomment %}
{% block header %}
{% endblock %}

{% comment %} コンテンツブロック部 {% endcomment %}
{% block content %}

<h1>Fix UserInfo</h1>

<form action="{% url 'save_edituser' %}" method="post" class="mt-3" enctype="multipart/form-data">
    {% csrf_token %}
    {{ editform.as_p }}
    <button>Fix Userinfo</button>
</form>

<form action="{% url 'deleteuser_confirmation' %}" method="post" class="mt-3">
    {% csrf_token %}
    <div style="text-align: right;">
    <button class="btn btn-danger">ユーザー削除</button>
    </div>
</form>

{% endblock %}

{% comment %} フッターブロック部 {% endcomment %}
{% block footer %}
{% endblock %}