{% extends "top/layout.html" %}
{% load static %}
{% comment %} タイトルブロック部 {% endcomment %}
{% block title %}[GameShelf]LogIn{% endblock %}

{% comment %} ヘッダーブロック部 {% endcomment %}
{% block header %}
<h1>LogIn</h1>
{% endblock %}

{% comment %} コンテンツブロック部 {% endcomment %}
{% block content %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ loginform.as_p }}
    <button type="submit">ログイン</button>
</form>
{% endblock %}

{% comment %} フッターブロック部 {% endcomment %}
{% block footer %}
{% endblock %}