{% extends "top/layout.html" %}
{% load static %}
{% comment %} タイトルブロック部 {% endcomment %}
{% block title %}[GameShelf]UserPage{% endblock %}

{% comment %} ヘッダーブロック部 {% endcomment %}
{% block header %}
<p>WelcomeBack {{ login_user.nickname }}!!</p>
{% endblock %}

{% comment %} コンテンツブロック部 {% endcomment %}
{% block content %}

{% if login_user.userimage %}
    <img src="{{ MEDIA_URL }}{{ login_user.userimage.url }}" alt="{{ login_user.nickname }}">
{% endif %}

<p>Exp.{{login_user.exp}}</p>
<p>Rank.{{login_user.rank}}</p>

<form action="{% url 'edituser' login_user.id %}" method="post" class="mt-3">
    {% csrf_token %}
    <div style="text-align: right;">
    <button class="btn btn-primary">ユーザー情報編集</button>
    </div>
</form>

{% endblock %}

{% comment %} フッターブロック部 {% endcomment %}
{% block footer %}
{% endblock %}