{% extends "top/layout.html" %}
{% load static %}
{% comment %} タイトルブロック部 {% endcomment %}
{% block title %}[GameShelf]UserPage{% endblock %}

{% comment %} ヘッダーブロック部 {% endcomment %}
{% block header %}
{% endblock %}

{% comment %} コンテンツブロック部 {% endcomment %}
{% block content %}

<h3>Welcome Back {{ login_user.nickname }}!!</h3>

<form action="{% url 'edituser'%}" method="post" class="mt-3">
    {% csrf_token %}
    <div style="text-align: right;">
    <button>ユーザー情報編集</button>
    </div>
</form>

<article class="post" style="display: flex; align-items: center; justify-content: center;">


        <p class="author" style="margin-left: 20px;">
            <strong><span style="font-weight: bold; font-size: 3em;">
            {{login_user.nickname}}
            </span></strong>
        </p>

    <div class="title">
        {% if login_user.userimage %}
            <img src="{{ MEDIA_URL }}{{ login_user.userimage.url }}" alt="{{ login_user.nickname }}" style="max-width: 256px; max-height: 256px;">
        {% endif %}
    </div>
    <div class="meta">

        <p class="author" style="margin-left: 20px;">
            <strong><span style="font-weight: bold; font-size: 3em;">
            Rank.{{login_user.rank}}
            </span></strong>
        </p>
        <p class="author" style="margin-left: 20px;">
            <strong><span style="font-weight: bold; font-size: 3em;">
            Exp.{{login_user.exp}}
            </span></strong>
        </p>
        <p class="author" style="margin-left: 20px;">
            <strong><span style="font-weight: bold; font-size: 1.8em;">
        Next Rank…{{remaining_exp}}exp
            </span></strong>
        </p>

</article>
<hr>
<h3>作成した記事</h3>
{% for diary in userdiary %}
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="/diary/{{ diary.id }}">{{ diary.diary_title }}</a></h2>
									</div>
								</header>
								<p>{{ diary.diary_content|slice:":100" }}......</p>
								<footer>
									<ul class="actions">
										<li><a href="/diary/{{ diary.id }}" class="button large">read more</a></li>
									</ul>
								</footer>
							</article>
							{% endfor %}


<ul class="pagination justify-content-center">
    {% comment %} 前頁の有無確認 {% endcomment %}
    {% if userdiary.has_previous %}
    {% comment %} 先頭ページへ戻る {% endcomment %}
    <li class="page-item">
        <a href="?page=1">&laquo; first</a>
    </li>
    {% comment %} １つ前のページへ {% endcomment %}
    <li class="page-item">
        <a href="?page={{ userdiary.previous_page_number }}">&laquo; prev</a>
    </li>
    {%else%}
    {% comment %} 前ページが無い場合の文字列表示 {% endcomment %}
    <li class="page-item">
        <p>&laquo; first</p>
    </li>
    <li class="page-item">
        <p>&laquo; prev</p>
    </li>
    {%endif%}

    {% comment %} 現在のページ数表示 {% endcomment %}
    <li class="page-item">
        <a>
            {{userdiary.number}}/{{userdiary.paginator.num_pages}}
        </a>
    </li>

    {% comment %} 次頁の有無確認 {% endcomment %}
    {% if userdiary.has_next %}
    {% comment %} 次ページへ進む {% endcomment %}
    <li class="page-item">
        <a href="?page={{ userdiary.next_page_number }}">next &raquo;</a>
    </li>
    {% comment %} 最終ページへ {% endcomment %}
    <li class="page-item">
        <a href="?page={{ userdiary.paginator.num_pages }}">last &raquo;</a>
    </li>
    {%else%}
    {% comment %} 次ページが無い場合の文字列表示 {% endcomment %}
    <li class="page-item">
        <p>next &raquo;</p>
    </li>
    <li class="page-item">
        <p>last &raquo;</p>
    </li>
    {%endif%}
</ul>

        <div class="info" title="EXP:ユーザーの活動(日記執筆、コメント追加)によって得られます。  Rank:Expが一定数溜まると上昇します。" style="margin-left: 20px;">
            Exp&Rankについて<img src="../../../static/info.png" height="25">
        </div>
    </div>
{% endblock %}

{% comment %} フッターブロック部 {% endcomment %}
{% block footer %}
{% endblock %}