{% extends "top/layout.html" %}
{% load static %}
{% comment %} タイトルブロック部 {% endcomment %}
{% block title %}[GameShelf]{{ displaygame.game_title }}{% endblock %}

{% comment %} ヘッダーブロック部 {% endcomment %}
{% block header %}
{% endblock %}

{% comment %} コンテンツブロック部 {% endcomment %}
{% block content %}
<h1>{{ displaygame.game_title }}</h1>

<ul class="tags-container">
<p>タグ：
    {% for tag in displaygame.game_tag.all %}
        <li class="tag-item">{{ tag }},</li>
    {% endfor %}
</p>
</ul>

<p>概要：{{ displaygame.game_content }}</p>

{% if displaygame.game_image %}
    <img src="{{ MEDIA_URL }}{{ displaygame.game_image.url }}" alt="{{ displaygame.game_title }}">
{% endif %}

<form action="{% url 'editgame' displaygame.id %}" method="post" class="mt-3">
    {% csrf_token %}
    <div style="text-align: right;">
    <button class="btn btn-primary">ゲーム詳細編集</button>
    </div>
</form>

<hr>

<form action="{% url 'game' displaygame.id %}" method="post" class="mt-3">
    {% csrf_token %}
    <label>コメント:</label>
    {{ commentform.as_p }}
    <button class="btn btn-primary">コメント投稿</button>
</form>

<hr>
<p>コメント一覧</p>
{% for comment in displaycomment %}
    <hr>
    <p>{{ comment.game_comment_comment }}</p>
    <div style="text-align: right;">
        <p>{{comment.game_comment_user}}</p>
    </div>
{% endfor %}

{% endblock %}

{% comment %} フッターブロック部 {% endcomment %}
{% block footer %}
{% endblock %}